[user]
	name = Konstantin Mednikov
	email = irondsd@gmail.com
	signingkey = 994FE72A482022DB861A089B8BE3B8EF3776B6AA
[core]
	editor = subl -n -w
[push]
	autoSetupRemote = true
[pull]
	rebase = false
[commit]
	gpgSign = true
[gpg]
	program = gpg
